body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: pink;
    background-image: url('sad.jpg');
    text-align: center;
    
    
}
header {
    background-color: pink;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.explore-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(199, 33, 135, 0.5); /* Semi-transparent blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}